#minimalYoutube-blocker {
  width: 100%;
}

#minimalYoutube-blocker > div {
  width: 100%;
}

ytd-reel-shelf-renderer,
ytd-rich-shelf-renderer[is-shorts],
ytd-reel-video-renderer,
a[href*="/shorts/"] {
  display: none !important;
}

#related,
ytd-compact-video-renderer,
ytd-watch-next-secondary-results-renderer,
ytd-mini-guide-renderer,
ytd-live-chat-frame,
yt-video-metadata-carousel-view-model,
#comments,#guide-button,#secondary{
  display: none !important;
}
